<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">

    <table>

        <tr>
            <td>Name</td>
            <td>Material</td>
            <td>Brand</td>
            <td>image</td>
        </tr>

        {%for ct in cloths%}
            <td>{{ct.name}}</td>
            <td>{{ct.material}}</td>
            <td>{{ct.brand}}</td>
            <td>
                <img src="{{ct.image.url}}" alt="" width="100%" height="200px">
            </td>
        {%endfor%}

    </table>




</div>


</body>
</html>